body {
    height: 100%;
    width: auto;
    background-image: url("images/realbackground.jpg");
    background-size: 100%;
    background-repeat: no-repeat;
    background-color: rgb(163, 159, 159);
}

#results {
    display: flex;
    margin-top: 50px;
    justify-content: center;
}

h1 {
    display: flex;
    margin-top: 60px;
    justify-content: center;

}

#btnContainer {
    display: flex;
    justify-content: space-around;
    width: 100%;
    height: 600px;
    align-items: flex-end;
    
}

button {
    height: 150px;
    width: 150px;

}

p {
    display: flex;
    margin-top: 40px;
    justify-content: center;
}

#scores {
    display: flex;
    margin-top: 100px;
    justify-content: space-around;
}

#playerScore, 
#computerScore {
    display: flex;
    border-style: solid;
    border-color: black;
    height: 50px;
    width: 150px;
    justify-content: center;
    align-items: center;
}

#rock {
    background-image: url("images/rockchoice.jpg");
    background-size: cover;
}

#paper {
    background-image: url("images/paperchoice.jpg");
    background-size: 100%;
}

#scissors {
    background-image: url("images/scissorschoice.jpg");
    background-size: 100%;
}